h1 {
	text-align: center;
	margin: 30px 0;
}

h2 {
	font-size: 25px;
}

.details, .charges, .earnings {
	border: 2px black solid;
}

.details {
	input {
		margin-top: 10px;
	}
	h4 {
		margin-left: 20px;
	}

	.row {
		padding: 30px 0px 70px;
	}
}

.charges {
	h4 {
		margin-left: 20px;
	}
	table {
		margin: 15px 0 15px 15px;
	}
		td:first-child {
		float: right;
	}
}

.earnings {
	margin-top: 25px;

	table {
		margin: 15px 0 15px 70px;
	}
		td:first-child span {
		float: right;
	}
	td:nth-child(2) {
		padding-left: 10px;
	}
}

.title {
	border-bottom: 2px black solid;

	h2 {
		text-align: center;
	}
}

.actionButtons {
	margin: 100px auto 30px;
	width: 125px;
}

.reset {
	float: right;
	margin: 45px 90px 0 0;
}